<!doctype {{doctype}}>
<html {{html}} >
<head {{headProp}}>
      {{head}}
</head>
<body {{body}}>
  <main {{main}}>
  <article {{article}}>
    <header>
           {{{introduction}}}
    </header>
    <section {{section}}>
         {{{development}}}
    </section>
    <footer {{footer}}>
         {{{conclusion}}}
    </footer>
   <article>
  <main>
</body>
</html>
